body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 40px;
}


.header, .footer {
  & a {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: red;
    padding-left: 25px;
    padding-right: 25px;
    transition: all 0.3s ease;

    &:hover {
      font-size: 30px;
      background-color: black;
    }
  }
}

.header {
  display: inline-block;
  background-color: orange;
  text-align: center;
  width: 100%;
  height: 40px;
  margin-bottom: 25px;
  padding-top: 20px;
}

.footer {
  display: inline-block;
  background-color: pink;
  text-align: center;
  width: 100%;
  height: 80px;
  padding-bottom: 20px;
}

.notification {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 25%;
  height: auto;
  border: 4px solid black;
  border-radius: 8px;
  padding: 5px;
  margin: auto;
}

.success {
  background-color: lightgreen;
}

.warning {
  background-color: yellow;
}

.error {
  background-color: red;
}

.image-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
}

.image-link {
  float: left;
  grid-column: span 1;
  background-size: auto;
  background-repeat: no-repeat;
  border-left:  solid 4px black;
  border-right: solid 4px black;
  box-sizing: border-box;
  filter: grayscale(100%) blur(2px);
  transition: all 0.3s ease-in-out;

  &:hover, &:focus {
    filter: none;
  }
}

.tree {
  background-image: url('/src/img/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg');
}

.wall {
  background-image: url('/src/img/abandoned-ancient-antique-architecture-235986.jpg');
}

.main-block {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-image: url('/src/img/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg'); // Photo by Kalen Emsley on Unsplash
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// .main-block {
//   background: radial-gradient(gray, lightblue, transparent);
// }

.main-title {
  color: rgb(212, 0, 255);
  text-shadow: -1px -1px 0 darkslateblue, 1px 1px 0 darkslateblue, -1px 1px 0 darkslateblue, 1px 1px 0 darkslateblue;
  text-align: center;

  &::before, &::after {
    content: '\f005';
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: rgba(71, 61, 139, 0.5);
    width: 50px;
    height: 50px;
    margin: 25px;
    border: dotted 3px darkslateblue;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transition: all 1s ease-in-out;
  }

  // &::before {
  //   content: '\f100';
  // }

  // &::after {
  //   content: '\f101';
  // }

}

.weird-spinner {
  position: absolute;
  display: table;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-radius: 50%;
  box-sizing: border-box; 
  margin: auto;
  animation: spin 4s linear infinite;
  
    &::before{
      content: '';
      position: absolute;
      display: inline-block;
      left: -25%;
      top: -25%;
      height: 100px;
      width: 100px;
      background: none;
      border: 8px dotted hotpink;
      box-sizing: border-box; 
      animation: bounce 2s linear infinite;
    }
}

@keyframes spin {
  0% {
    opacity: 1;
  }

  12.5% {
    opacity: 0.3;
    transform: rotate(45deg);
  }

  25% {
    opacity: 1;
    transform: rotate(90deg);
  }

  37.5% {
    opacity: 0.3;
    transform: rotate(135deg);
  }

  50% {
    opacity: 1;
    transform: rotate(180deg);
  }

  62.5% {
    opacity: 0.3;
    transform: rotate(225deg);
  }

  75% {
    opacity: 1;
    transform: rotate(270deg);
  }
  
  87.5% {
    opacity: 0.3;
    transform: rotate(315deg);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(00px);
  }

  50% {
    transform: translateX(100px);
  }
}
